<div class="classynav">
    <ul>
        <li <% if (title == 'home') { %>class="active" <% } %> ><a href="/">Home</a></li>
        <li <% if (title == 'social') { %>class="active" <% } %>><a href="/social">Social</a></li>
        <li <% if (title == 'sport') { %>class="active" <% } %>>
            <a href="/sport">Sport</a>
        </li>
        <li <% if (title == 'entertainment') { %>class="active" <% } %>>
            <a href="/entertainment">Entertainment</a></li>
        <li <% if (title == 'contact') { %>class="active" <% } %>>
            <a href="/contact">Contact</a></li>
    </ul>
</div>