<div class="single-blog-post style-2 d-flex align-items-center">
    <div class="post-thumbnail">
        <img src="<%-news.image_link%>" alt="" />
    </div>
    <div class="post-content">
        <h6 class="post-title">
            <%-news.title%>
        </h6>
    </div>
</div>